.footer{
    
        height: 9vh;
        background-color: rgba(20, 152, 189, 0.772);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: aliceblue;
    
}